/*Header*/ /*CHECK*/
header {
position: relative;
width: 100%;
height: auto;
background-color: #6A7E9F;
}

/*Edit logo positioning*/ /*CHECK*/
.logo {
display: block;
position: relative;
text-align: right;
z-index: 10;
}

.white_background {
background-color: white;
position: relative;
margin-left: 200px;
margin-right: 200px;
z-index: 1;
}

/* This resizes proportionally the first image in the home page without stretching! */
div .slide_show2 img {
object-fit: cover;
display: inline-block;
float: right;
}

/*This will edit each individual picture to scale them where i want to*/ /*EDITS IN PROGRESS*/
div .slide_show img {
object-position: 0px 0px;
}

/*THIS SCALES TO FIT THE IMAGES, CROP WITHOUT STRETCH PLACES ALL ON TOP OF EACH OTHER*/ /*CHECK*/
div .header_img img {
object-position: 0px -270px;
height: 380px;
overflow: hidden;
position: absolute;
}

/*This will fill the width and height of its box and often cropping the image in the process*/ /*CHECK*/
header #slideshow_container img{
object-fit: cover;
}


.Title {
text-align: left;
font-family: sweethart;
font-size: 55px;
word-spacing: 3px;
margin-top: 0px;
margin-bottom: 0px;
}

.video {
position: relative;
text-align: center;
}


/*How to create a horizontal line*/
.border_1 {
border: 1px solid grey;
}

/*How to center the horizontal line and make it longer*/
.border_1 {
width: 1000px;
position: relative; 
}

.border_11 {
border: 1px solid grey;
text-align: center;
}

/*How to create a horizontal line*/
.border_2 {
border: 1px solid grey;
width: 470px;
}

.border_3 {
border: 1px solid grey;
width: 555px;
}

p.link {
font-size: 18px;
}

/* Font size in beauty services on links */
.links_here {
font-size: 18px;
}

/* Book your appointment today text align center */
.book_app {
text-align: center;
}

/*Body text for introduction Color is a Dream*/
.body_text {
font-family: Opificio Neue;
}

/*For color is a dream because word spacing*/
h2 {
font-family: sweethart;
font-size: 65px;
word-spacing: 3px;
margin-top: 0px;
margin-bottom: 0px;
text-align: center;
}


/*About letter-spacing because font displays it too close together*/
.quote_about {
text-align: center;
}

h2.about {
font-size: 25px;
letter-spacing: 2px;
float: left;
}

/* For text in about */
div.float_right {
font-family: Opificio Neue;
}

.text_to_the_left {
text-align: left;
}

.image_1_home {
float: right;
}

/*About text for introduction meet Amanda*/
h4 {
font-family: Opificio Neue;
top: 50%;
}

.body_text {
position: relative;
right: 0;
top: 50%;
width: 100%;
text-align: top;
z-index: 10;
}

div .beauty_services_caption {
font-family: sweethart;
}


/*Footer*/
.footer {
background-color: #6A7E9F;
text-align: center;
}

/* This is the copyright content */
.footer_bottom {
text-align: center;
background-color: #1B1B1B;
padding: 5px 0;
font-size: 12px;
line-height: 1;
}

/* Color of the footer_bottom */
footer .footer_bottom {
background-color: #5b6c87;
color: white;
} 

/*How to create a horizontal line*/
.footer_border_3 {
border: 1px solid white;
}

/*How to center the horizontal line and make it longer*/
.footer_border_3 {
width: 100%;
position: relative;
}

footer h4 {
font-family: Opificio Neue;
color: white;
}

/* This aligns the logo and text in a row and places them in the center! */
div .social_logo {
position: relative;
display: flex;
justify-content: center;
padding: 10px;
}

/* This removes line under hyperlink of footer links to social media */
h4 a {
color: white;
text-decoration: none;
}

/* This is the link to her shop on shop page */
.link {
  background-color: #6A7E9F;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the link button, add a darker blue color */
.link:hover {
color: white;
background-color: #5b6c87;
}

/* Customizes all links */
a {
color: white;
text-decoration: none;
}

.links_here {
  background-color: #6A7E9F;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.links_here:hover {
color: white;
background-color: #5b6c87;
}


/* Back to top button */
.topbtn {
font-size: 15px;
float: right;
position: relative;
border-radius: 10px;  /* Makes rounded corners */
padding: 5px;
cursor: pointer; /* Adds a mouse pointer on hover */
border: none;    /* Removes borders */
outline: none;   /* Removes outline */
}

/* Adds a darker color on hover */
.topbtn:hover {
background-color: #555; /* Add a dark-grey background on hover */
color: white;
outline: none;
}



/* CONTACT FORM */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 50%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the SUBMIT BUTTON with a specific background color etc */
input[type=submit] {
  background-color: #6A7E9F;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker blue color */
input[type=submit]:hover {
  background-color: #5b6c87;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 10px;
}

/* This makes the first and last name 25% */
input[type=text] {
width: 25%;
}

#email {
width: 50%;
}


